body{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: system-ui, sans-serif;
   }



.app-back{
    background-color: #ADD8E6; 
    min-height: 107vh;
}


.componente-container {
    margin-bottom: 20px; 
}

.img-fleshita{
  position: absolute;
  top: 65px;
  left: 170px;
  rotate: 230grad;
  transform: scale(1.2);
}

.title-port{
  font-family:"Voltaire", sans-serif;
  position: absolute;
    text-decoration:underline ;
    top: 35px;
    right: 38.5%;
    font-size: 50px;
    margin: 1px;
    padding: 5px;

}

.contenedor-bloq{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 34px  10px;
    max-width: 865px;
    width: 100%;
}

.next-port {
    position: absolute;
    right: 22px;
    top: 50%;
    background-color: #ffffff00;
    color: #fff;
    width: 50px;
    height: 50px;
    border: #3654ff 0.2em solid;
    border-radius: 100%;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .next-port:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .next-port svg {
    width: 1.6em;
    margin: -10px 5px;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .next-port:hover svg {
    transform: translateX(5px);
  }
  
  @media only screen and (max-width: 768px) {
    section{

    }
    .contenedor-bloq {
      flex-direction: column;
      gap: 10px;
    }
  
    .title-port {
      right: 50%;
      font-size: 30px;
    }
  
    .img-fleshita {
      top: 140px;
      left: 50%;
    }
    
  } 