.b-nav-header{
    display: flex;
    align-items: center;
    background-color :linear-gradient(to bottom);
    border-radius: 10px;
    justify-content: space-between;
}

.bot-nav-ul, .name {
    font-family:"Kode Mono", monospace;;
    color: rgb(3, 3, 3) ;
    list-style:none;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
}

.name{
font-size: 300%;
}

.bot-nav-li {
    background-color: rgba(0, 0, 0, 0.06);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 150%;
}
.bot-nav-a{
    color: rgb(3, 3, 3);
    text-decoration: none;
}




